.body{
    font-family: 'Roboto' sans-serif;
    font-weight: 800;
    padding: 8% 5% 0% 5%;
}

.trajetos{
    color: #fff;
    padding-bottom: 10px;
    border-bottom: 2px solid #fff;
}

.newPath{
    position: absolute;
    right: 5%;
    padding: 0.4% 5% 0.4% 5%;
    margin-top: 12px;
    border-radius: 5px;
    color: #fff;
    background-color: #273740;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.newPath:hover{
    background-color: #2737404f;
}

.botao-adc{
    margin-right: 2px;
    margin-bottom: 2px;
}